.movies-container {
  position: absolute;
  width: 100%;
  color: white;
  top: 12%;
  padding: 0 3.5rem 20px;

}

.movies-container_title {
  font-size: 25px;
  position: fixed;
  padding: 7px 0;
  top: 64px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.movies-container__videos{
  margin-top: 35px;
  display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-evenly;
}

.movies-container__item {
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.movies-container__item:hover {
top: -10px;
cursor: pointer;
}

.movies-container__item img{
  width: 100%;
  object-fit: fill;
  display: block;
  aspect-ratio: 0.67;
}
